[submodule "lib/Connectors.pretty"]
	path = lib/Connectors.pretty
	url = ../Connectors.pretty
[submodule "lib/2.54mm_Pin_Headers.pretty"]
	path = lib/2.54mm_Pin_Headers.pretty
	url = ../2.54mm_Pin_Headers.pretty
